<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>YESportfolio</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">YESportfolio - SAD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1 id="title">SAD - Speak At Dictionary</h1>
                <div>
                    <div style="font-size: 50px;">
                        <p>나무</p>
                    </div>
                    <button id="recordBtn">Record</button>
                </div>
                <div>
                    <table id="searchData">
                        <thead>
                            <th>
                                검색어
                            </th>
                            <th>
                                품사
                            </th>
                        </thead>
                        <tbody id="searchData-body">
                            <tr>
                                <td>
                                    나무
                                </td>
                                <td>
                                    명사
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!--
                        1. "단단한 줄기에 가지와 잎이 달린, 여러 해 동안 자라는 식물."
                        2. "집이나 가구 등을 만드는 데 사용하는 재목."
                        3. "불을 때기 위해 베어 놓은 나무의 줄기나 가지."
                    -->

                    <table id="searchData">
                        <thead >
                            <th>
                                의미
                            </th>
                        </thead>
                        <tbody id="searchData-body">
                            <tr>
                                <td>
                                    1. "단단한 줄기에 가지와 잎이 달린, 여러 해 동안 자라는 식물."
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2. "집이나 가구 등을 만드는 데 사용하는 재목."
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
